:root {
  --vh: 100lvh;
  --dvh: 100dvh;

  // Font Family
  --font: "Inter", sans-serif;

  // Colors
  --bg-color: #F7FCFD;
  --light-color: #fff;
  --dark-color: #062126;
  --text-color: #062126ab;
  --blue-color: #24A5E0;
  --green-color: #6CCF4E;
}
