<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <a href="/" class="footer__logo">
                <img src="img/logo/ukol.svg" alt="">
            </a>
            <div class="footer__nav">
                <a href="/#intro" class="footer__link">О нас</a>
                <a href="/#services" class="footer__link">Услуги</a>
                <a href="/#chooseExperts" class="footer__link">Специалисты</a>
                <a href="/#faq" class="footer__link">FAQ</a>
                <a href="/#contact" class="footer__link">Контакты</a>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="footer__copyright">
                © 2025 ukol.uz, Все права защищены
            </div>
            <div class="footer__policy">
                <a href="#" class="footer__policy-link">Политика конфиденциальности</a>
                <a href="#" class="footer__policy-link">Условия обслуживания</a>
            </div>
        </div>
    </div>
</footer>