<header class="header" id="header">
    <div class="container">
        <div class="header__inner">
            <a href="/" class="header__logo">
                <img src="img/logo/ukol.svg" alt="">
            </a>
            <button type="button" class="header__burger">
                <div class="header__burger-wrapper">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <nav class="header__nav">
                
                <ul class="header__nav-list">
                    <li class="header__nav-item">
                        <a href="/#intro" class="header__nav-link active">О нас</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="/#services" class="header__nav-link">Услуги</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="/#chooseExperts" class="header__nav-link">Специалисты</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="/#faq" class="header__nav-link">FAQ</a>
                    </li>
                </ul>
            </nav>
            <a href="#" class="header__btn blue-btn button">
                <span>Телеграм бот</span>
            </a>
            <!-- @@include('../components/blue-btn.html', { "text": "Телеграм бот", "class": "header__btn"}) -->
        </div>
    </div>
    <div class="header__bg-mobile"></div>
</header>